<html>
      <body>
            <%- include('header'); -%>
            <form method="post">
                  First name :<br> <input type="text" name="txt1"><br>
                  LAst name :<br> <input type="text" name="txt2"><br>
                 <br> <input type="submit" value="submit">

            </form>
      </body>
</html>